.bg-title1 {
    background-color: #448d96;
}

.bg-title2 {
    background-color: #599854;
}

.bg-title3 {
    background-color: rgba(89, 152, 84, 0.55);
}

.panel-about {
    padding: 1em 0em 1em 0em;
    background-color: cadetblue;
}

#map {
    height: 400px;
}

.wellarticle {
    padding: 1em 0em 1em 1em;
    font-family: Roboto;
    font-size: x-large;
}

.panel-route {
    /*padding:1em 1em 0.5em 1em;*/
    background-color: darkseagreen;
}

    .panel-route h2 {
        text-align:center;
    }

.titleimg {
    left: 0px;
    margin-top:10px;
    padding: 3px 10px;
    width: 800px;
    background: rgba(255, 255, 255, 0.55);
}

.oneimage {
    /*height: 200px;*/
}

.photki {
    position:relative;
    top:-2em;
    padding-left: 10px;
}

    .photki img {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

button.btn-new1{
    border-style:solid;
    border-width:thin;
    border-color:#448d96;
    border-color: cadetblue;
    border-radius:6px;
    margin:0px 5px 0px 5px;
}